$textColor: #fff;
$secondaryTextColor: #000;

$purple: #4F2AC3;

$pastel-top: #FF7043;
$pastel-bottom: #E53935;

$salgados-top: #FFD54F;
$salgados-bottom: #FF7043;

$pizza-top: #E53935;
$pizza-bottom: #8D6E63;

$cachorro-top: #FFEB3B;
$cachorro-bottom: #E53935